streamlit
python-dotenv
PyPDF2
langchain
openai
google-api-python-client
pytesseract
pillow
requests
beautifulsoup4
html2text
stackapi
faiss-cpu
ratelimit
backoff
google-auth
google-auth-oauthlib
google-auth-httplib2
youtube-transcript-api
